.arrow {
  font-size: 30px;
  border: 0;
  width: 24px;
  height: 40px;
}

#right {
  background: url(./../../img/right-arrow.png);
  
}
#left {
  background: url(./../../img/left-arrow.png);
  
}
