.button {
  padding: rem(18px) rem(40px);
  text-transform: uppercase;
  border-radius: rem(100px);
  border: transparent;
  text-decoration: none;
  color: #fff;
  background: #E01F3D;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.125rem;

  &:hover {
    background: #CA1B36;

  }

  &--transperent {
    background: transparent;
    text-transform: none;
    font-weight: normal;
    margin-left: rem(-28px);

    &:hover {
      color: #E01F3D;
      background: transparent;
    }
  }
}
