.duration {
  display: flex;
  align-items: center;


  &__img {
    padding: 5px 1.25rem;
    cursor: pointer;
    
    // @include phones {
    //   width: .40625rem;
    //   height: .59375rem;
    // }
  }

  &__length {
    width: 27.75rem;
    height: .25rem;
    border-radius: .0625rem;
    background-color: #626262;
    -webkit-appearance: none;
    /*Override default CSS styles*/
    appearance: none;
    outline: none;

    @include phones {
      width: 16.46625rem;
      height: .148125rem;
    }

    &--other {
      width: 3.625rem;
      height: .25rem;

      @include phones {
        width: 2.30625rem;
        height: .148125rem;
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      background: #626262;
      cursor: pointer;
      width: .8125rem;
      height: .8125rem;
      border-radius: 50%;
    }
  }

  &__circle {
    cursor: pointer;
    margin-top: -0.25rem;
    display: block;


    &--high {
      right: 0;
      position: absolute;
    }
  }


}