.footer {
  height: 5.625rem;
  bottom: 0;
  width: 100%;
  background: #fff;

  @include phones {
    height: 9.4375rem;
  }

  &__container {
    margin-top: 1.1875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
    }
  }
}