.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0 1%;
  }


  &__title {
    margin-bottom: rem(79px);

    @include tablets {
      margin-bottom: 3rem;
    }
  }

  &__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: rem(12px);
  }

  &__block {
    flex: 1;
    margin-right: rem(16px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    padding: rem(18px) 0 rem(4px) rem(4px);
    border: 0.2rem solid transparent;
    border-radius: rem(4px);

    &:focus {
      border-color: #E01F3D;
      outline: none;
    }

    &--error {
      border: 3px solid #E01F3D;
      border-radius: 4px;
      outline: none;
    }
  }

  &__textarea {
    height: rem(152px);
    resize: none;

    @include tablets {
      height: 5.5rem;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(29px);

    @include phones {
      justify-content: center;
    }

  }

  &__button {
    margin-top: rem(45px);
    display: flex;

    @include tablets {
      justify-content: center;
    }
  }

  &__name {
    margin-bottom: rem(5px);
  }

  &__btns {
    display: flex;
    justify-content: center;

  }
}