.modal{
  display: none;
  background: #313131;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &_active{
    display: block; 
     
  }

  &__container {
    background: $white;
    padding: 2.0625rem 3.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-bottom: 1.125rem;
    color: black;
  }

  // flex-direction: column;
  // align-items: center;

  // &.error-modal {
  //   .modal__content {
  //     color: #000;
  //   }
  // }
}