.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $red;
  }

  &__text {
    font-style: normal;
    white-space: wrap;
    flex-shrink: 0;

    &:hover {
      color: $red;
    }
  }
}