.slider {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &-side {
    width: 50%;
    margin-right: 3.75rem;

    @include tablets {
      margin-right: 0;
    }

    &-right {
      @include tablets {
        width: 100%;

      }
    }
  }

  &-desc {
    position: relative;
    display: inline-block;

    &-button {
      background: url(./../img/slider-click.png);
      width: 91px;
      height: 91px;
      border-radius: 4px;
      border: none;

      @include tablets {
        display: none;

      }
    }

    &-cocntent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 273px;
      height: 294px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 4px;

      &__list {
        margin: 1.5625rem;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-name{
        align-items: start;
      }
    }
  }

  &-description {
    @include tablets {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-transform: uppercase;
    color: #292929;
    
    @include tablets {
      font-size: 1.75rem;
    }
  }

  &-text {
    margin-bottom: 1.5625rem;
    padding-right: 5rem;

    @include tablets {
      padding: 0;
    }
  }

  &__list-specification {
    display: flex;
    margin-bottom: 2.1875rem;
    padding: 0;

  }

  &__item-specification {
    position: relative;
    padding: 0;
    margin-right: 3.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-specification-value {
    color: #000;
    font-weight: bold;
  }

  &-price {
    display: flex;

    @include tablets {
      justify-content: center;
    }

    &-pay {
      font-size: 2.25rem;
      line-height: 3.75rem;
      text-transform: uppercase;
      color: #151515;
      margin-right: .9375rem;
    }
  }
}

.slider__item-specification a:hover {
  background-color: #ddd;
}

.slider-desc:hover .slider-desc-cocntent {
  display: block;
}

.slider-desc:hover .slider-desc-button {
  background-color: #3e8e41;
}