.social{

  &__list{
    display: flex;
  }

  &__item {
    margin-left: 11px;
  }

  &__link {
    display: block;
    margin-bottom: 1.25rem;
    width: 30px;
    height: 30px;
  }

}