.sound {
  display: flex;
  align-items: center;
  padding-left: .625rem;

  &__mic {
    cursor: pointer;

  }

  &__volume {
    margin-left: 1.875rem;   
    margin-top: -0.3125rem; 

    @include phones{
      margin-left: .7rem;
    }
  }
}